
@font-face {
	font-family: 'iconfont';
	src: url(../img/index_pic/iconfont.woff);
}
@font-face {
	font-family: 'fzzzh';
	src: url(../img/index_pic/fzzzh.woff);
}
.jd{
	width: 100%;
	height: 100%;
	/* height: 3000px; */
	overflow: hidden;
	background-color: rgb(240,243,239);
}
.nav{
	width: 100%;
	height: 30px;
	border-bottom: 1px solid #ddd;
	background-color: #e3e4e5;
}
.nav .nav-center{
	width: 1190px;
	height: 30px;
	margin: 0px auto;
	position: relative;
	z-index: 10;
	/*background-color: paleturquoise;*/
	}
.nav .nav-center .left{
	width: 56px;
	height: 30px;
	/*background-color: gold;*/
	float: left;
	margin-left: 200px;
	border: 1px solid transparent;
	border-bottom: #ddd;
	position: absolute;
	z-index: 2;
	cursor: pointer;
}
.nav .nav-center .left i{
	width: 14px;
	height: 20px;
	display: block;
	float: left;
	margin-top: 5px;
	margin-left: 4px;
	background: url(../img/index_pic/boxerzb.png) no-repeat;
}
.nav .nav-center .left span{
	color: #999999;
	font-size: 12px;
	line-height: 28px;
	display: inline-block;
	margin-left: 4px;
}
.nav .nav-center .left:hover{
	background-color: white;
	border-color: #ccc;
	border-bottom: none;
}
.nav .nav-center .left .diqu{
	width: 320px;
	height: 358px;
	border: 1px solid #ccc;
	border-top: none;
	background-color: white;
	position: absolute;
	top: 30px;
	left: -1px;
	display: none;
}
.nav .nav-center .left:hover .diqu{
	display: block;
}
.nav .nav-center .right{
	width: 755px;
	height: 30px;
	float: right;
	/*background-color: orangered;*/
	font-size: 12px;
	line-height: 30px;
	text-align: center;
	color: #999;
}
.nav .nav-center .right ul li{
	list-style: none;
	float: left;
	cursor: pointer;
	margin-left: 15px;
	position: relative;
}
.nav .nav-center .right ul li:nth-child(1){
	width: 131px;
	height: 30px;
	float: left;
	margin-left: 0px;
}
.nav .nav-center .right ul li:hover{
	color: #F10215;
}
.nav .nav-center .right ul li span{
	float: left;
}
.nav .nav-center .right ul li p{
	/* display: inline; */
	color: #f10215;
	cursor: pointer;
	float: left;
}
.nav .nav-center .right ul li em{
	display: block;
	padding: 0 3px;
	float: left;
	font-weight: normal;
}
.nav .nav-center .right ul li .userico_ico{
	position: absolute;
	top: 6px;
	right: 0px;
	display: block;
	width: 38px;
	height: 16px;
	background-image: url(../img/index_pic/sprite.shortcutUsername.png);
	background-repeat: no-repeat;
	background-position: -85px -21px;
}
.nav .nav-center .right ul li:nth-child(2n){
	width: 1px;
	height: 10px;
	background-color: #ccc;
	float: left;
	margin-top: 10px;
}
.nav .nav-center .right ul li:nth-child(5){
	height: 30px;
	border: 1px solid transparent;
}
.nav .nav-center .right ul li:nth-child(5):hover{
	background-color: #fff;
	border-color: #ccc;
	border-bottom: none;
}
.nav .nav-center .right ul li .boxone{
	width: 280px;
	height: 162px;
	border: 1px solid #ccc;
	border-top: none;
	position: absolute;
	z-index: 12;
	left: -1px;
	top: 30px;
	background-color: white;
	display: none;
}
.nav .nav-center .right ul li:hover .boxone{
	display: block;
}
.nav .nav-center .right ul li:nth-child(9){
	height: 30px;
	border: 1px solid transparent;
}
.nav .nav-center .right ul li:nth-child(9):hover{
	background-color: #fff;
	border-color: #ccc;
	border-bottom: none;
}
.nav .nav-center .right ul li .boxer{
	width: 155px;
	height: 69px;
	border: 1px solid #ccc;
	border-top: none;
	position: absolute;
	z-index: 12;
	left: -1px;
	top: 30px;
	background-color: white;
	display: none;
}
.nav .nav-center .right ul li:hover .boxer{
	display: block;
}
.nav .nav-center .right ul li:nth-child(11){
	height: 30px;
	border: 1px solid transparent;
}
.nav .nav-center .right ul li:nth-child(11):hover{
	background-color: #fff;
	border-color: #ccc;
	border-bottom: none;
}
.nav .nav-center .right ul li .boxsan{
	width: 169px;
	height: 245px;
	border: 1px solid #ccc;
	border-top: none;
	position: absolute;
	z-index: 12;
	background-color: white;
	right: -1px;
	top: 30px;
	display: none;
}
.nav .nav-center .right ul li:hover .boxsan{
	display: block;
}
.nav .nav-center .right ul li:nth-child(13){
	height: 30px;
	border: 1px solid transparent;
}
.nav .nav-center .right ul li:nth-child(13):hover{
	background-color: #fff;
	border-color: #ccc;
	border-bottom: none;
}
.nav .nav-center .right ul li .boxsi{
	width: 1190px;
	height: 181px;
	border: 1px solid #ccc;
	border-top: none;
	position: absolute;
	z-index: 12;
	right: -81px;
	top: 30px;
	background-color: white;
	display: none;
}
.nav .nav-center .right ul li:hover .boxsi{
	display: block;
}
.nav .nav-center .right ul li .img{
	position: absolute;
	z-index: 8;
	left: -10px;
	top: 32px;
}
.header{
	width: 100%;
	height: 140px;
}
.header .center{
	width: 1190px;
	height: 140px;
	/*background-color: deeppink;*/
	margin: 0 auto;
	position: relative;
}
.header .center .logo{
	width: 190px;
	height: 170px;
	background-color: white;
	position: absolute;
	left: 0px;
	top: -30px;
	background: url(../img/index_pic/sprite.head.png) no-repeat;
	border-bottom: 1px solid #ccc;
}
.header .center .search{
	width: 550px;
	height: 35px;
	background-color: white;
	position: absolute;
	left: 320px;
	top: 25px;
	float: left;
}
.header .center .search input{
	width: 460px;
	height: 35px;
	border: none;
	outline: none;
	float: left;
	margin-left: 5px;
}
.header .center .search i{
	width: 19px;
	height: 15px;
	display: block;
	float: left;
	background: url(../img/index_pic/sprite-photo-search.png) no-repeat;
	margin-top: 10px;
	cursor: pointer;
}
.header .center .search i:hover{
	background-position: -30px 0px;
}
.header .center .search .button{
	width: 50px;
	height: 35px;
	float: left;
	background-color: #f10215;
	margin-left: 16px;
	cursor: pointer;
}
.header .center .car{
	width: 188px;
	height: 33px;
	border: 1px solid #ccc;
	float: left;
	margin-right: 150px;
	position: absolute;
	top: 25px;
	right: -25px;
	background-color: white;
	cursor: pointer;
}
.header .center .car i{
	width: 16px;
	height: 16px;
	display: block;
	float: left;
	margin-left: 30px;
	margin-top: 8px;
}
.header .center .car span{
	color: #f10215;
	float: left;
	margin-left: 8px;
	margin-top: 3px;
}
.header .center .car span b{
	width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #f10215;
    display: inline-block;
    color: white;
    text-align: center;
    line-height: 18px;
}
.header .center .hot{
	width: 550px;
	height: 20px;
	/*background-color: pink;*/
	position: absolute;
	top: 65px;
	left: 320px;
}
.header .center .hot P{
	display: inline-block;
	padding-right: 5px;
	font-size: 13px;
	color: #999;
}
.header .center .hot P:nth-child(1){
	color: #f10215;
}
.header .center .hot P:hover{
	color: #f10215;
}
.header .center .header-nav{
	width: 790px;
	height: 40px;
	position: absolute;
	bottom: 0px;
	/*background-color: gold;*/
	left: 200px;
}
.header .center .header-nav ul li{
	list-style: none;
	float: left;
}
.header .center .header-nav ul li P{
	display: inline-block;
	text-align: center;
	line-height: 40px;
	/* float: left; */
	margin-left: 20px;
	color: #333;
}
.header .center .header-nav ul li P:hover{
	color: #f10215;
}
.header .center .header-nav ul li:nth-child(2n){
	width: 1px;
	height: 18px;
	background-color: silver;
	float: left;
	margin-left: 25px;
	margin-top: 11px;
}
.banner{
	width: 100%;
	height: 480px;
}
.banner .center{
	width: 1190px;
	height: 480px;
	margin: 0 auto;
}
.banner .center .left{
	width: 190px;
	height: 480px;
	float: left;
	background-color: white;
}
.banner .center .left ul li{
	width: 180px;
	height: 26px;
	list-style: none;
	float: right;
	font-size: 14px;
	color: #626262;
	position: relative;
	text-align: left;
	line-height: 26px;
}
.banner .center .left ul li span:hover{
	color: #f10215;
}
.banner .center .left ul li .wrap{
	width: 998px;
	height: 470px;
	background-color: white;
	position: absolute;
	z-index: 15;
	top: 0px;
	left: 180px;
	display: none;
}
.banner .center .left ul li:hover .wrap{
	display: block;
}
.banner .center .left ul li .two{
	top: -26px;
}
.banner .center .left ul li .three{
	top: -52px;
}
.banner .center .left ul li .four{
	top: -78px;
}
.banner .center .left ul li .five{
	top: -104px;
}
.banner .center .left ul li .six{
	top: -130px;
}
.banner .center .left ul li .seven{
	top: -156px;
}
.banner .center .left ul li .eight{
	top: -182px;
}
.banner .center .left ul li .nine{
	top: -208px;
}
.banner .center .left ul li .ten{
	top: -234px;
}
.banner .center .left ul li .shiyi{
	top: -260px;
}
.banner .center .left ul li .shier{
	top: -286px;
}
.banner .center .left ul li .shisan{
	top: -312px;
}
.banner .center .left ul li .shisi{
	top: -338px;
}
.banner .center .left ul li .shiwu{
	top: -364px;
}
.banner .center .left ul li .shiliu{
	top: -390px;
}
.banner .center .left ul li .shiqi{
	top: -416px;
}
.banner .center .left ul li .shiba{
	top: -442px;
}
.banner .center .pic{
	width: 590px;
	height: 470px;
	float: left;
	margin-left: 10px;
	margin-top: 10px;
	overflow: hidden;
	position: relative;
	cursor: pointer;
}
.banner .center .pic ul li{
	position: absolute;
	display: none;
}
.ban_prev{
	position: absolute;
	left: 0;
    z-index: 1;
    top: 50%;
    margin-top: -20px;
    width: 24px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.2);
    color: rgba(255, 255, 255, 0.4);
    line-height: 40px;
	text-align: center;
	border: none;
}
.ban_prev:hover{
	background: rgba(0, 0, 0, 0.5)
}
.iconfont{
	color: hsla(0,0%,100%,.4);
	font-size: 20px;
	font-family: iconfont,sans-serif;
    font-style: normal;
}
.ban_next{
	position: absolute;
	right: 0;
    z-index: 1;
    top: 50%;
    margin-top: -20px;
    width: 24px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.2);
    color: rgba(255, 255, 255, 0.4);
    line-height: 40px;
	text-align: center;
	border: none;
}
.slider_points{
	z-index: 1;
	position: absolute;
    margin-left: 0 !important;
    left: 46px;
    bottom: 20px;
}
.slider_points_btn{
	width: 18px;
	height: 18px;
	border-radius: 50%;
	position: relative;
	display: inline-block;
	margin-right: 1px;
}
.slider_points_btn:after{
	content: "";
    display: block;
    position: absolute;
    left: 4px;
    top: 4px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    border: 2px solid #b9beba;
    transition: all .2s ease;
}
.slider_points_btn.active{
	background: rgba(255, 255, 255, 0.2);
}
.slider_points_btn.active:after{
	background-color: #fff;
	border: 2px solid transparent;
}

.banner .center .photo{
	width: 190px;
	height: 480px;
	float: left; 
	margin-left: 10px;
	/*background-color: blueviolet;*/
}
.banner .center .photo div{
	width: 190px;
	height: 150px;
	float: left;
	margin-top: 10px;
	cursor: pointer;
}
.banner .center .right{
	width: 190px;
	height: 480px;
	float: left;
	margin-left: 10px;
	margin-top: 10px;
	background-color: white;
}
.banner .center .right .top{
	width: 190px;
	height: 150px;
	float: left;
}
.banner .center .right .top .tou{
	width: 65px;
	height: 65px;
	border-radius: 50%;
	overflow: hidden;
	margin: -10px auto;
	border: 5px solid #e3e1df;
	box-shadow: 3px 6px 25px #c3c3c3;
	background: url(../img/index_pic/no_login.jpg) no-repeat;
	background-size: cover;
}
.banner .center .right .top p{
    text-align: center;
     color: #888; 
     margin-top: 10px;
}
.banner .center .right .top span{
	display: inline-block;
	/* float: left; */
	margin-left: 55px;
	color: #666;
}
.banner .center .right .top b{
	display: inline-block;
	font-weight: 400;
	color: #666;
	/* float: left; */
	margin-left: 8px;
}
.banner .center .right .top span:hover{
	color: #f10215;
}
.banner .center .right .top b:hover{
	color: #f10215;
}
.banner .center .right .top h5{
	/* float: left; */
	display: inline-block;
	margin: 10px 15px;
    width: 70px;
    height: 25px;
    line-height: 25px;
    font-size: 12px;
    text-align: center;
    color: #e43f3b;
    border-radius: 13px;
    box-shadow: 6px 8px 20px rgba(45,45,45,.15);
}
.banner .center .right .top h6{
	/* float: left; */
	display: inline-block;
	margin: 10px 5px;
    width: 70px;
    height: 25px;
    line-height: 25px;
    font-size: 12px;
    text-align: center;
    border-radius: 13px;
    background: #363634;
    color: #e5d790;
    box-shadow: 6px 8px 20px rgba(45,45,45,.15);
}
.banner .center .right .top h5:hover{
	background-color: #f10215;
	cursor: pointer;
	color: white;
}
.banner .center .right .top h6:hover{
	background-color: #f10215;
	color: white;
	cursor: pointer;
}
.banner .center .right .body{
	width: 190px;
	height: 130px;
	float: left;
}
.banner .center .right .bottom{
	width: 190px;
	height: 210px;
	float: left;
	cursor: pointer;
}
.tuichu{
	color: red;
	text-align: center;
}
.content{
	width: 100%;
	height: 100%;
	overflow: hidden;
	margin-top: 20px;
}
.content .content-yi{
	width: 100%;
	height: 275px;
}
.content .content-yi .center{
	width: 1190px;
	height: 275px;
	margin: 0px auto;
	/*background-color: orange;*/
}
.content .content-yi .center .left{
	width: 190px;
	height: 275px;
	float: left;
	cursor: pointer;
}
.content .content-yi .center .right{
	width: 1000px;
	height: 275px;
	float: left;
	background-color: white;
}
.content .content-yi .center .right .right-left{
	width: 805px;
	height: 275px;
	float: left;
}
.content .content-yi .center .right .right-left .big{
	width: 200px;
	height: 275px;
	float: left;
	margin-left: 1px;
	background-color: white;
}
.content .content-yi .center .right .right-left .big p{
	width: 160px;
    padding: 0 15px;
    line-height: 30px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: #666;
}
.content .content-yi .center .right .right-left .big:hover p{
	color: red;
}
.content .content-yi .center .right .right-left .big .pri{
	width: 160px;
	height: 20px;
	background: #e6382f;
    line-height: 20px;
    border: 1px solid red;
    margin: 8px 18px;
}
.content .content-yi .center .right .right-left .big .pri span{
	width: 80px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	display: inline-block;
	color: white;
}
.content .content-yi .center .right .right-left .big .pri del{
	width: 80px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	display: inline-block;
	background-color: white;
	/* float: right; */
	color: #999;
}
.content .content-yi .center .right .pic{
	float: right;
	width: 190px;
	height: 275px;
}
.content .content-er{
	width: 100%;
	height: 480px;
	margin-top: 20px;
}
.content .content-er .body{
	width: 1190px;
	height: 455px;
	margin: 0 auto;
	/* background-color: orange; */
}
.content .content-er .body .left{
	width: 390px;
	height: 450px;
	float: left;
}
.content .content-er .body .center{
	width: 390px;
	height: 450px;
	float: left;
	margin-left: 10px;
}
.content .content-er .body .right{
	width: 390px;
	height: 450px;
	float: right;
}
.con_san{
	width: 100%;
}
.con_san .tit{
	height: 65px;
	width: 1190px;
	min-width: 990px;
	margin: 0 auto;
	text-align: center;

}
.con_san .tit h3{
	position: relative;
	width: 150px;
	height: 45px;
	font-size: 28px;
	font-family: 'fzzzh', sans-serif;
	font-weight: normal;
	text-align: center;
	line-height: 45px;
	padding: 0 50px;
	margin: 0 auto 20px;
	overflow: hidden;
	color: #222;
}
.con_san .tit h3::before,
.con_san .tit h3::after{
	content: '';
	position: absolute;
	width: 50px;
	height: 3px;
	display: block;
	background: #222;
	top: 19px;
}
.con_san .tit h3::before{
	left: 0;
}
.con_san .tit h3::after{
	right: 0;
}
.con_san .con_san_body{
	width: 1190px;
	/* height: 960px; */
	margin: 0 auto;
	overflow: hidden;
}
.con_san .con_san_body>img{
	width: 1190px;
}
.con_san .con_san_body>div{
	width: 390px;
	height: 450px;
	float: left;
	margin-bottom: 30px;
}
.con_san .con_san_body>div>img{
	width: 390px;
	height: 450px;
	cursor: pointer;
}
.more_list{
	margin: 0 -5px 0;
}
.more_list .more_item{
	position: relative;
    float: left;
    width: 230px;
    height: 305px;
    background: #fff;
	margin: 0 5px 10px;
	cursor: pointer;
}
.pic_gg{
	width: 150px;
    height: 150px;
	margin: 40px auto 18px;
	display: block;
	position: relative;
	overflow: hidden;
	background: transparent;
}
.pic_gg>img{
	width: 100%;
	height: 100%;
}
.more_info{
	height: 65px;
	padding: 0 16px 0;
    line-height: 22px;
}
.more_info_name{
	height: 40px;
    font-size: 12px;
    line-height: 20px;
    text-align: left;
    color: #7d7d7d;
    overflow: hidden;
    text-overflow: ellipsis;
}
.more_info_price{
	margin-top: 5px;
}
.more_info_price .mod_price{
	display: inline-block;
    font-size: 16px;
    line-height: 18px;
	height: 18px;
	color: #e33333;
}
.footer .foo_con{
	width: 1190px;
	margin: 0 auto;
}
.footer .foo_con>img{
	width: 100%;
}
.sidebar{
	position: fixed;
	right: 0;
	top: 0;
	z-index: 9999;
    width: 0;
    height: 100%;
}
.sidebar_box{
	position: absolute;
    right: 0;
    top: 0;
    width: 0;
    height: 100%;
    border-right: 6px solid #7a6e6e;
}
.sidebar_con{
	position: absolute;
    left: 6px;
    top: 0;
    width: 270px;
    height: 100%;
    z-index: 2;
    background: #eceaea;
}
.sidebar_list_body{
	display: none;
	max-width: 270px;
	height: 100%;
}
.person{
	position: relative;
	height: 160px;
	overflow: hidden;
	padding: 10px;
	background: #fff;
}
.my_logo{
	position: absolute;
	left: 8px;
	top: 8px;
	width: 65px;
	height: 65px;
	overflow: hidden;
	border-radius: 50%;
}
.my_logo>img{
	width: 100%;
	height: 100%;
}
.my_vip_user{
	font-size: 14px;
	height: 20px;
	position: absolute;
	left: 90px;
	top: 20px;
}
.my_vip_user:hover{
	color: #f10215;
}
.renwu{
	background-color: #fff;
	margin: 10px 0;
}
.renwu>img{
	width: 100%;
	height: 100%;
}
.gwc{
	position: relative;
	width: 270px;
	height: 40px;
	line-height: 40px;
	background: #eceaea;
}
.gwc i{
	width: 20px;
	height: 18px;
	margin-top: 11px;
	margin-right: 4px;
	margin-left: 10px;
	vertical-align: top;
	display: inline-block;
	background: url(../img/index_pic/toolbars.png) no-repeat;
	background-position: 0 0;
}
.gwc_title{
	height: 40px;
	color: #5e5050;
	font: 16px/40px 微软雅黑;
	display: inline-block;
	vertical-align: top;
}
.gwc_con{
	width: 270px;
	height: 625px;
	overflow-y: auto;
	position: relative;
}
.settle{
	width: 270px;
	height: 50px;
	background-color: #eceaea;
	position: absolute;
	bottom: 0px;
}
.settle_con{
	height: 40px;
	padding: 5px 110px 5px 5px;
	position: relative;
}
.commodity_num{
	line-height: 20px;
}
.sidebar_list{
	position: absolute;
    top: 50%;
    left: -29px;
    width: 35px;
    margin-top: -80px;
}	
.J_count{
	font-family: verdana;
	color: #c81623;
}
.all_num{
	line-height: 20px;
}
.J_total{
	font-family: verdana;
	color: #c81623;
}
.sidebar_list_con li{
	position: relative;
    width: 35px;
    height: 35px;
    margin-bottom: 1px;
    cursor: pointer;
    background-color: #7a6e6e;
    border-radius: 3px 0 0 3px;
}
.sidebar_list_con li .tab_ico{
    width: 34px;
    height: 35px;
    margin-left: 1px;
    position: relative;
	z-index: 2;
	display: inline-block;
	background-color: #7a6e6e;
	background: url(../img/index_pic/toolbars.png);
}
.go_gwc{
	position: absolute;
	right: 5px;
	top: 7px;
	width: 110px;
	height: 35px;
	font: 16px/35px 微软雅黑;
	text-align: center;
	background: #c81623;
	color:#ffff;
}
.sidebar_list_con li.col_red{
	background: #c81623;
}
.sidebar_list_con li.my_vip .tab_ico{
	background-position: -88px -175px;
}
.sidebar_list_con li.shoping .tab_ico{
	background-position: -50px 0;
}
.sidebar_list_con li.like .tab_ico{
	background-position: -50px -50px;
}
.sidebar_list_con li.zuji .tab_ico{
	background-position: -50px -100px;
}
.sidebar_list_con li.xiaoxi .tab_ico{
	background-position: -190px -150px;
}
.sidebar_list_con li.zixujimi .tab_ico{
	background-position: -50px -150px;
}
.sidebar_list_con li.fankui .tab_ico{
	background-position: -50px -300px;
}
.sidebar_list_con li .tab_text{
    width: 62px;
    height: 35px;
    line-height: 35px;
    color: #fff;
    text-align: center;
    font-family: 微软雅黑;
    position: absolute;
    z-index: 1;
    left: 35px;
    top: 0;
    background-color: #7a6e6e;
	border-radius: 3px 0 0 3px;
	transition: left .3s ease-in-out .1s;
}
.sidebar_list_con li:hover{
	background-color: #c81623;
}
.sidebar_list_con li:hover .tab_ico{
	background-color: #c81623;
}
/* .sidebar_list_con li:hover .tab_text{
	left: -60px;
    background-color: #c81623;
} */
.header_gwc{
	top: 33px;
	right: 0;
	width: 308px;
	position: absolute;
	z-index: 100;
	border: 1px solid #ccc;
	background-color: #fff;
	display: none;
}
.car:hover .header_gwc{
	display: block;
}
.car_empty{
	height: 49px;
	margin: auto;
	padding: 10px 0;
	text-align: center;
	line-height: 49px;
	overflow: hidden;
	color: #999;
}
.header .center .car .cart_empty_img{
	vertical-align: middle;
	width: 56px;
	height: 49px;
	background-image: url(../img/index_pic/58004d6dN2927f0f7.png);
}

.big_gwc_sp{
	height: 250px;
}
.sp_con{
	overflow-y: auto;
	height: 200px;
}
.to_gwc{
	width: 110px;
    height: 35px;
    font: 16px/35px 微软雅黑;
    text-align: center;
    background: #c81623;
	color: #ffff;
	/* display: inline-block; */
	float: right;
}
.gji{
	display: inline-block;
	font-size: 18px;
}
.sp_jtcon{
	padding: 8px 10px;
	border-top: 1px dotted #ccc;
	overflow: hidden;
	background-color: pink;
}
.sp_img{
	float: left;
}
.sp_jjcon{
	float: left;
	width: 160px;
}
.price_box{
	float: right;
	text-align: right;
	width: 70px;
}
.sidebar_gwc{
	padding: 0 5px;
	margin-bottom: 10px;
	background: #fff;
}
.sidebar_gwc_con{
	padding: 10px 0;
	position: relative;
	overflow: hidden;
}
.si_gw_img{
	float: left;
	width: 50px;
	height: 50px;
	border: 1px solid #ddd;
	padding: 0;
	margin-right: 5px;
}
.si_gw_txt{
	height: 32px;
	line-height: 16px;
	margin-bottom: 4px;
	overflow: hidden;
}
.si_gw_price{
	height: 16px;
	padding-right: 65px;
	overflow: hidden;
	font: 12px/16px verdana;
	color: #666;
}
.si_gw_price span{
	color: red;
}
.si_gw_txt:hover{
	color: red;
}